<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualization Mini-Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='style.css') }}">
</head>
<body>
<center>
    <h1>COVID-19 Pandemic Analysis</h1>
    <br><br>
    <h2>We have used sampling here to find different kinds of plots as we previously done in Lab 2.</h2>
    <hr>
    <br><br>
    <h5>Due to high number of records the scatter plots generated are slow hence we have saved the csv file of fitted data for MDS correlation and MDS Euclidian and then loaded it. The CSV files have been attached.</h5>
</center>
<hr>
 <div class="row" >
     <div class="butt">
      <BUTTON align="center"><a href="./">Home</a></BUTTON>
     </div>
     <div class="buttdown">
      <BUTTON align="center"><a href="./pca_scree_original">PCA_SCREE with Original data</a></BUTTON>
      <BUTTON align="center"><a href="./mds_corr_original">MDS Correlation with original data</a></BUTTON>
      <BUTTON align="center"><a href="./mds_euc_original">MDS Euclidian with original data</a></BUTTON>
      <BUTTON align="center"><a href="./scatter_original">Scatter plot for PC1 and PC2 with original data</a></BUTTON>
      </div>
      <BUTTON align="center"><a href="http://127.0.0.1/project/index.html">Back to Dashboard</a></BUTTON>
 </div>
 <div id="vis">
 </div>
<body style="background-color:silver;text-align:center">
<div id = "error"></div>
<script src="https://d3js.org/d3.v4.js"></script>
<script>
    function convert_arr(arr_data) {
        arr_data = arr_data.slice(1, -1);
        nums_arr = arr_data.split(",");

        return nums_arr.map(x => +x);}

    var scree_data = convert_arr('{{scree}}');
    var cum_sum = convert_arr('{{scree_cum}}');

    var barPadding = 5;

    // set the dimensions and margins of the graph
var margin = {top: 20, right: 20, bottom: 40, left: 60},
    width = 600 - margin.left - margin.right,
    height = 600 - margin.top - margin.bottom;

// create svg element, respecting margins
var svg = d3.select("#vis")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

// Add X axis
var x = d3.scaleLinear().domain([0, 11]).range([0, width]);
svg
  .append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(d3.axisBottom(x));

// Add Y axis
var y = d3.scaleLinear().domain([0, d3.max(cum_sum)]).rangeRound([height, 0]);

svg
  .append("g")
  .attr("class", "y axis")
  .call(d3.axisLeft(y));

// Add X axis label:
svg.append("text")
    .attr("text-anchor", "end")
    .attr("x", width / 2 + margin.left)
    .attr("y", height + margin.top + 15)
    .text("Components");

// Y axis label:
svg.append("text")
    .attr("text-anchor", "end")
    .attr("transform", "rotate(-90)")
    .attr("x", -height / 2 + margin.top + margin.bottom)
    .attr("y", -margin.left+20)
    .text("Explained Variance")

svg.selectAll("rect")
            .data(scree_data)
            .enter()
            .append("rect")
            .attr("x", function(d, i) {return 20 + x(i)})
            .attr("y", function(d) {return y(d)})
            .attr("width", width / scree_data.length - barPadding)
            .attr("height", function(d) {return height - y(d)})
            .attr("fill", "steelblue");

var lineEnd = 300

svg.append("path")
      .datum(cum_sum)
      .attr("fill", "none")
      .attr("stroke", "red")
      .attr("stroke-width", 1.5)
      .attr("d", d3.line()
      .x(function(d, i) {return x(i + 1)})
      .y(function(d) {return y(d)}))



svg.selectAll(".dot")
    .data(cum_sum)
  .enter().append("circle") 
    .attr("class", "dot")
    .attr("fill", "red") 
    .attr("cx", function(d, i) { return x(i + 1) })
    .attr("cy", function(d) {return y(d)})
    .attr("r", 2)


svg.append("line")
          .attr("x1", x(3))
          .attr("x2", x(3))
          .attr("y1", 0)
          .attr("y2", height)
          .attr("stroke-width", 1.5)
          .attr("stroke", "green")


    svg.append("circle").attr("cx", 230).attr("cy", 100).attr("r", 5).style("fill", "red")
    svg.append("text")
    .attr("x", 240)
    .attr("y", 100)
    .text("Cumulative Explained Variance")
    .style("font-size", "15px")
    .attr("alignment-baseline","middle")
</script>
<style src = "{{ url_for('static', filename='style.css')}}"></style>
</body>
</html>